<div class="navbar navbar-default" role="navigation">
    <div class="jumbotron"style="background-color:black;color:white;">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="/" style=" font-size:30px">Welcome To My Blog App</a>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/new/blog" style="font-size:20px;">Create Blog</a></li>
        </ul>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                <li>
                    <a href="/">{{current_user.username.upper()}}</a>
                </li>
                <li>
                    <a href="{{url_for('auth.logout')}}">Sign Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('auth.login')}}">Sign in</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>